<h3>Listado de heroes</h3>

<div *ngIf="deletedHero; else nothingWasSelected">
  <h3>Deleted Hero: <small class="text-danger"> {{ deletedHero }} </small></h3>
</div>

<ng-template #nothingWasSelected >
  <h3>Hero not deleted</h3>
</ng-template>

<button
  class="btn btn-outline-danger"
  (click)="removeLastHero()"
  *ngIf=" heroNames.length > 0 "
>
  Delete last Hero
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames"
  class="list-group-item"> {{ name }} </li>
</ul>
